/* Primary color - #434455 */
/* Seconadray color - #2E2F42*/
/* accent color - #4D5AE5 */
/* white color - #FFFFFF */

:root {
    --primary-color: #434455;
    --secondary-color: #2E2F42;
    --accent-color: #4D5AE5;
    --white-color: #FFFFFF;
}

body {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.nav ul, section ul,
.address ul {
    list-style: none;
}
 /* Header */
.logo .web {
    color: var(--accent-color);
}
.logo .studio {
    color: var(--secondary-color);
}

.site-nav .link {
    color: var(--secondary-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}

.address .link {
    color: var(--primary-color);
}

/* List */

.feature-list .title {
    color: var(--secondary-color);
}
/* Hero section */

.hero {
    background-color: var(--secondary-color);
}

.hero-title {
    color: var(--white-color);

}
.button {
cursor: pointer;
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--white-color)
}

.button.secondary {
    background-color: #F4F4FD;
    color: var(--accent-color)
}

 /* Footer */

.footer {
    background: var(--secondary-color);
}

.footer p {
    color: #F4F4FD;
}

.footer .web {
    color: var(--accent-color);
}

.footer .studio {
    color: #F4F4FD;
}